<footer
  class="flex flex-col mt-10 mx-auto max-w-6xl items-start justify-center gap-3 border-t border-white/10 pt-6 text-sm text-zinc-400 md:flex-row md:items-center px-4 pb-16"
>
  <p>© {{ year }} Aaron Ni. Built with Angular 20 + TailwindCSS 4.</p>
  <div class="flex gap-4">
    <button
      class="hover:text-white transition"
      (click)="routeTo(linkedinUrl())"
      target="_blank"
      rel="noreferrer"
    >
      <i dynamic-icon iconName="linkedin"></i>
    </button>
    <button
      class="hover:text-white transition"
      (click)="routeTo(githubUrl())"
      target="_blank"
      rel="noreferrer"
    >
      <i dynamic-icon iconName="github"></i>
    </button>
    <button class="hover:text-white transition" (click)="routeTo('#landing-main')">
      Back to top
    </button>
  </div>
</footer>
